<header class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a style="color: black;" class="navbar-brand" routerLink="/Inventario">Menu SIMP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav navbar-nav navbar-center" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-link" routerLink="/Usuarios">
                        <img src="./assets/Imagenes/agregar-usuario.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Contacto"> Usuarios
                    </a>
                    <a class="nav-link" routerLink="/Usuarios">
                        <button (click)="Cerrarsession()">Cerrar Sesión</button>
                    </a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link" routerLink="/proveedores">
                        <img src="./assets/Imagenes/proveedor.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Contacto"> Proveedores
                    </a>
                    <a class="nav-link" routerLink="/existencias">
                        <img src="./assets/Imagenes/existencias.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Contacto"> Existencias
                    </a>
                    <a class="nav-link" routerLink="/ubicacion-almacen">
                        <img src="./assets/Imagenes/ubicacionAlmacen.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Contacto"> Ubicacion Almacen
                    </a>
                    <a class="nav-link" routerLink="/motivo">
                        <img src="./assets/Imagenes/motivo.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Contacto"> Motivo
                    </a>
                    <a class="nav-link" routerLink="/movimiento">
                        <img src="./assets/Imagenes/movimiento.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Contacto"> Movimiento
                    </a>
                </div>
            </div>
        </div>
    </nav>

</header>

<section id="Notificaciones" class="container mt-2 mb-2">
    <marquee behavior="scroll" direction="left"> <a href="#">Notificaciones</a></marquee>
</section>