<header class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a style="color: black;" class="navbar-brand" routerLink="/existencias">Menu SIMP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav navbar-nav navbar-center" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link" routerLink="/ProductoMateria">
                                    <img src="./assets/Imagenes/etiquetas.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="Contacto"> Producto Materia
                                </a>
                            </li>
                           <!--  <li>
                                <a class="nav-link" routerLink="/Plantilla">
                                    <img src="./assets/Imagenes/navegador.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="Contacto"> Plantilla
                                </a>
                            </li> -->
                            <li>
                                <a class="nav-link" routerLink="/existencias">
                                    <img src="./assets/Imagenes/existencias.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="Contacto"> Existencias
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/categorias">
                                    <img src="./assets/Imagenes/categoria.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="Categoria"> Categorías
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/unidades">
                                    <img src="./assets/Imagenes/metro.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="UnidadMedida"> Unidad Medida
                                </a>
                            </li>
                           <!--  <li>
                                <a class="nav-link" routerLink="/productosMateria">
                                    <img src="./assets/Imagenes/plantillas.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="Contacto"> Plantilla-Producto Materia
                                </a>
                            </li> -->
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Usuarios
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link" routerLink="/Usuarios">
                                    <img src="./assets/Imagenes/agregar-usuario.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="Contacto"> Usuarios
                                </a>
                            </li>
                           <!--  <li>
                                <a class="nav-link" routerLink="/proveedores">
                                    <img src="./assets/Imagenes/proveedor.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="Contacto"> Proveedores
                                </a>
                            </li> -->
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Movimientos
                        </a>
                        <ul class="dropdown-menu">
                            <!-- <li>
                                <a class="nav-link" routerLink="/ubicacion-almacen">
                                    <img src="./assets/Imagenes/ubicacionAlmacen.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="Contacto"> Ubicacion Almacen
                                </a>
                            </li> -->
                            <li>
                                <a class="nav-link" routerLink="/motivo">
                                    <img src="./assets/Imagenes/motivo.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="Contacto"> Motivo
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/movimiento">
                                    <img src="./assets/Imagenes/movimiento.png" width="20" height="20"
                                        class="d-inline-block align-middle" alt="Contacto"> Movimiento
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="./assets/Imagenes/agregar-usuario.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Contacto">
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <table *ngFor="let RegistroUsuariosVariable of UsuarioModel | async">
                                <td>
                                    {{RegistroUsuariosVariable.NombreUsuario}}
                                </td>
                                <td>
                                    {{RegistroUsuariosVariable.DescripcionRol}}</td>
                            </table>
                            <button class="btn btn-primary" (click)="Cerrarsession()">Cerrar Sesión</button>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </nav>

</header>

<!-- <section id="Notificaciones" class="container mt-2 mb-2">
    <marquee behavior="scroll" direction="left"> <a href="#">Notificaciones</a></marquee>
</section> -->