<main class="container mt-4">
    <div class="container border p-4">
        <h1>Movimientos</h1>

        <div class="m-3 container text-center row justify-content-md-center">
            <div class="ZonaBotones container col-lg-8">
                <button class="btn btn-success" type="button" [routerLink]="['/movimiento/agregar']"> <img src="./assets/Imagenes/agregar.png" alt="Añadir item"> Agregar</button>
                <button class="btn btn-primary" type="button" [routerLink]="['/existencias/']">Ir a Existencias</button>
                <button class="btn btn-primary" type="button" [routerLink]="['/motivo/']">Ir a Motivo</button>
                <button class="btn btn-primary" type="button" [routerLink]="['/Usuarios/']">Ir a Usuarios</button>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <div class="TablaTrabajo container table-responsive">
            <table class="table table-dark table-sm">
                <thead class="thead-dark">
                    <tr>
                        <!-- <th>ID Movimiento</th> -->
                        <th>Fecha Movimiento</th>
                        <th>Cantidad Producto</th>
                        <th>Contexto</th>
                        <th>Materia Prima</th>
                        <th>Usuario</th>
                        <th>Tipo Movimiento</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mv of movimiento | async">
                        <!-- <td>{{ mv.IdMovimiento }}</td> -->
                        <td>{{ mv.FechaMovimientoFormateada }}</td>
                        <td>{{ mv.CantidadProducto }}</td>
                        <td>{{ mv.DescripcionMovimiento }}</td>
                        <td>{{ mv.NombreProducto }}</td>
                        <td>{{ mv.NombreUsuario }}</td>
                        <td>{{ mv.TipoMovimiento }}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="['/movimiento/editar/', mv.IdMovimiento]">Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
