<!-- version de color oscuro -->

<main class="container mt-4" style="background-color: #061727;">
  <div class="container border p-4" style="border-color: #FEFBD2;">
      <div class="row">
          <div class="col-sm-12">
            <form (ngSubmit)="onSubmit()" #movimientoForm="ngForm" style="background-color: ; color: white;">
              <fieldset class="form-group" style="border: 1px solid white;">
                <div class="col-sm-12">
                  <label for="FechaMovimiento" style="color: #FEFBD2;">Fecha de Movimiento</label>
                  <input type="date" class="form-control" required [(ngModel)]="movimiento.FechaMovimiento" name="FechaMovimiento" style="color: #061727;">
                </div>
              </fieldset>
              <fieldset class="form-group" style="border: 1px solid white;">
                <div class="col-sm-12">
                  <label for="CantidadProducto" style="color: #FEFBD2;">Cantidad de Producto (g)</label>
                  <input type="text" class="form-control" required [(ngModel)]="movimiento.CantidadProducto" name="CantidadProducto" style="color: #061727;">
                </div>
              </fieldset>
              <fieldset class="form-group" style="border: 1px solid white;">
                <div class="col-sm-12">
                  <label for="IdMotivo" style="color: #FEFBD2;">Motivo Movimiento</label>
                  <select class="form-control" required [(ngModel)]="movimiento.IdMotivo" name="IdMotivo" style="color: #061727;">
                    <option *ngFor="let motivo of motivos" [value]="motivo.IdMotivo">{{ motivo.DescripcionMovimiento }}</option>
                </select>
            </div>
          </fieldset>
          <fieldset class="form-group" style="border: 1px solid white;">
            <div class="col-sm-12">
                <label for="IdProductoMateriaPrima" style="color: #FEFBD2;">ID Materia Prima</label>
                <input type="text" class="form-control" required [(ngModel)]="movimiento.IdProductoMateriaPrima" name="IdProductoMateriaPrima">
            </div>
          </fieldset>
          <fieldset class="form-group" style="border: 1px solid white;">
            <div class="col-sm-12">
              <label for="IdUsuario">Usuario que Realiza Movimiento</label>
              <input type="text" class="form-control" required [(ngModel)]="movimiento.IdUsuario" name="IdUsuario">
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="col-sm-12">
              <label for="TipoMovimiento">Tipo de Movimiento</label>
              <label for="TipoMovimiento" style="color: #FEFBD2;">Tipo de Movimiento</label>
              <select class="form-control" required [(ngModel)]="movimiento.TipoMovimiento" name="TipoMovimiento">
                <option value="Entrada">Entrada</option>
                <option value="Salida">Salida</option>
              </select>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary" [disabled]="!movimientoForm.form.valid">Enviar</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>