<main class="container mt-4" style="background-color: white;">
  <div class="container border p-4" style="border-color: #061727;">
      <div class="row">
          <div class="col-sm-12">
            <form (ngSubmit)="onSubmit()" #productoMateriaPrimaForm="ngForm" style="background-color: #061727; color: white;">
              <fieldset class="form-group" style="border: 1px solid white;">
                  <div class="col-sm-12">
                    <label class="control-label" for="NombreProducto" style="color: #FEFBD2;" required>Nombre del producto</label>
                    <input type="text" class="form-control" required [(ngModel)]="productoMateriaPrima.NombreProducto" name="NombreProducto" style="color: #061727;">
                  </div>
                  <br>
                </fieldset>
                <fieldset class="form-group" style="border: 1px solid white;">
                  <div class="col-sm-12">
                    <label class="control-label" for="DescripciónProducto" style="color: #FEFBD2;">Descripción del Producto</label>
                    <input type="text" class="form-control" required [(ngModel)]="productoMateriaPrima.DescripcionProductoMateriaPrima" name="DescripciónProducto" style="color: #061727;">
                  </div>
                  <br>
                </fieldset>
                <fieldset class="form-group" style="border: 1px solid white;">
                  <div class="col-sm-12">
                    <label class="control-label" for="IdCategoria" style="color: #FEFBD2;">Categoría</label>
                    <select class="form-control" required [(ngModel)]="productoMateriaPrima.IdCategoria" name="IdCategoria" style="color: #061727;">
                      <option [ngValue]="''" style="color: #061727;">Seleccionar categoría</option>
                      <option *ngFor="let categoria of categorias" [ngValue]="categoria.IdCategoria" style="color: #061727;">{{ categoria.DescripcionCategoria }}</option>
                    </select>
                  </div>
                  <br>
                </fieldset>
                <fieldset class="form-group" style="border: 1px solid white;">
                  <div class="col-sm-12">
                    <label class="control-label" for="IdUnidadMedida" style="color: #FEFBD2;">Unidad de medida</label>
                    <select class="form-control" required [(ngModel)]="productoMateriaPrima.IdUnidadMedida" name="IdUnidadMedida" style="color: #061727;">
                      <option [ngValue]="''" style="color: #061727;">Seleccionar unidad de medida</option>
                      <option *ngFor="let unidad of unidades" [ngValue]="unidad.IdUnidadMedida" style="color: #061727;">{{ unidad.UnidadMedida }}</option>
                    </select>
                  </div>
                  <br>
                </fieldset>
              <fieldset class="form-group" style="border: 1px solid white;">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" [disabled]="!productoMateriaPrimaForm.form.valid" style="background-color: #FEFBD2; border: none; color: #061727;">Enviar</button>
                </div>
              </fieldset>
            </form>
            <hr>
            <br>
            <button class="btn btn-success" routerLink="/ProductoMateria" style="background-color: #061727; color: white; border: none;">Regresar</button>

          </div>
        </div>
  </div>
</main>