<main class="container mt-4">
    <div class="container border p-4">
        <h1>Plantilla Producto has Producto Materia</h1>
        <div class="m-3 container text-center row justify-content-md-center">
            <div class="ZonaBotones container col-lg-8">
                <button class="btn btn-success" type="button" [routerLink]="['/productosMateria/agregar']">
                  <img src="./assets/Imagenes/agregar.png" alt="Añadir item">
                </button>
            </div>
        </div>

        <div class="TablaTrabajo container table-responsive">
            <table class="table table-dark table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre Producto Plantilla</th>
                        <th>Nombre Producto</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="productosMateria.length > 0; else noDataMessage">
                      <tr *ngFor="let pr of productosMateria">
                          <td>{{ pr.NombreProductoPlantilla }}</td>
                          <td>{{ pr.NombreProducto }}</td>
                          <td>
                              <a class="btn btn-danger" (click)="borrarProductoMateria(pr.IdProductoMateria)">Borrar</a>
                          </td>
                      </tr>
                    </ng-container>
                    <ng-template #noDataMessage>
                      <tr>
                        <td colspan="4">{{messageError}}</td>
                      </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</main>
