<main class="container mt-4">
    <div class="container border p-4">
        <div class="row">
            <div class="col-sm-12">
              <form (ngSubmit)="onSubmit()" #ubicacionAlmacenForm="ngForm" >
                <fieldset class="form-group">
                  <div class="col-sm-12">
                    <label class="control-label" for="IdMotivo">ID Ubicacion</label>
                    <input type="text" class="form-control" required [(ngModel)]="ubicacion.IdUbicacionAlmacen" name="IdUbicacionAlmacen" readonly>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-sm-12">
                      <label class="control-label" for="NombreAlmacen">Ubicacion de Almacen</label>
                      <input type="text" class="form-control" required [(ngModel)]="ubicacion.NombreAlmacen" name="NombreAlmacen">
                    </div>
                    <br>
                  </fieldset>
                <fieldset class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="!ubicacionAlmacenForm.form.valid">Enviar</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
    </div>
</main>

