<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" #RegistroForm="ngForm">
            <fieldset class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control" required [(ngModel)]="UsuarioModel.NombreUsuario"
                        name="NombreUsuario">
                </div>
                <div class="col-sm-12">
                    <label class="control-label">Apellido</label>
                    <input type="text" class="form-control" required [(ngModel)]="UsuarioModel.Apellido"
                        name="Apellido">
                </div>
                <div class="col-sm-12">
                    <label class="control-label">Correo</label>
                    <input type="text" class="form-control" required [(ngModel)]="UsuarioModel.Correo" name="Correo">
                </div>
                <div class="col-sm-12">
                    <label class="control-label">Clave</label>
                    <input type="text" class="form-control" required [(ngModel)]="UsuarioModel.Clave" name="Clave">
                </div>
                <div class="col-sm-12">
                    <label class="control-label">Rol_IdRol</label>
                    <input type="text" class="form-control" required [(ngModel)]="UsuarioModel.DescripcionRol"
                        name="Rol_IdRol">
                </div>
                <div class="col-sm-12">
                    <label class="control-label" for="email">Estado_idEstado</label>
                    <input type="email" class="form-control" required [(ngModel)]="UsuarioModel.DescripcionEstado"
                        name="Estado_idEstado">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="!RegistroForm.form.valid">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>