* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 40%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
}

    form {
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5vw;
        margin: 0 auto;
        padding: 1vw;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

        label {
            margin-bottom: 5px;
        }

        input {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type="submit"] {
            background-color: #45a049;
            color: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
            width: 100%;
            border-radius: 3px;
        }

            input[type="submit"]:hover {
                background-color: #0056b3;
            }

        button {
            background-color: #45a049;
            color: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
            width: 100%;
            border-radius: 3px;
        }
            button:hover {
                background-color: #0056b3;
            }

@media (max-width: 768px) {
    .Supercontenedor {
        width: 80%;
        margin-top: 15%;
    }
    
    .FormularioLogin label {
        font-size: 2vw;
    }
    
    .FormularioLogin input {
        width: 100%;
    }
    
    .FormularioLogin button {
        width: 100%;
        margin: 5% 0% 5% 0%;
    }
    }