/* You can add global styles to this file, and also import other style files */

	main {
		border: 1px solid black;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

		.HeadMain {
			display: grid;
			grid-template-columns: auto auto;
			text-align: center;
		}
			.HeadMain h1 {
				display: flex;
				justify-content: right;
			}

			.ZonaBotones {
				display: flex;
				align-items: center;
				justify-content: right;
				gap: 1vw;
			}
			
		.TablaTrabajo {
			height: 90%;
			overflow-y: scroll;
		}

			table {
				text-align: center;
			}
	