<main class="container mt-4">
    <div class="container border p-4">
        <h1>Existencias</h1>

        <div class="m-3 container text-center row justify-content-md-center">
            <div class="ZonaBotones container col-lg-8">
                <button class="btn btn-success" type="button" [routerLink]="['/movimiento/agregar']"> <img src="./assets/Imagenes/agregar.png" alt="Añadir item"> Agregar</button>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <div class="TablaTrabajo container table-responsive">
            <table class="table table-dark table-sm">
                <thead class="thead-dark">
                    <tr>
                       <!--  <th>ID Existencias</th> -->
                        <th>Cantidad Existencias</th>
                        <th>Punto de Compra</th>
                        <th>Fecha Ultima Modificación</th>
                        <th>Materia Prima</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="existencias.length > 0; else noDataMessage">
                    <tr *ngFor="let ex of existencias">
                        <!-- <td>{{ ex.IdExistencias }}</td> -->
                        <td>{{ ex.CantidadExistencias }}</td>
                        <td>{{ ex.PuntoCompraProducto }}</td>
                        <td>{{ ex.FechaUltimaModificacionFormateada }}</td>
                        <td>{{ ex.NombreProducto }}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="['/existencias/editar/', ex.IdExistencias]">Editar</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" (click)="borrarExistencias(ex.IdExistencias)">Borrar</a>
                        </td>
                    </tr>
                  </ng-container>
                  <ng-template #noDataMessage>
                    <tr>
                      <td colspan="9">{{messageError}}</td>
                    </tr>
                  </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</main>
