<main class="container mt-4">
    <div class="container border p-4">
        <h1>Unidades Medida</h1>
        <div class="m-3 container text-center row justify-content-md-center">
           <!--  <div class="ZonaBotones container col-lg-8">
                <button class="btn btn-success" type="button" [routerLink]="['/unidades/agregar']">
                  <img src="./assets/Imagenes/agregar.png" alt="Añadir item">
                </button>
            </div> -->


          <div class="col-lg-4">
            <form class="row" (ngSubmit)="buscarUnidadMedida()" id="Form de busqueda">
                <label for="search-input">Buscar:
                  <br>
                  <input [(ngModel)]="UnidadBusqueda" type="text" id="search-input" name="IdUnidadBusqueda"
                      placeholder="Id Unidad Busqueda">
                  <br>
                  <button class="btn btn-success" type="submit">Buscar</button>
                </label>
            </form>
          </div>
        </div>
        <div class="TablaTrabajo container table-responsive">
            <table class="table table-dark table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Unidad Medida</th>
                       <!--  <th>Editar</th>
                        <th>Borrar</th> -->
                    </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="unidades.length > 0; else noDataMessage">
                      <tr *ngFor="let un of unidades">
                          <td>{{ un.UnidadMedida }}</td>
                         <!--  <td>
                              <a class="btn btn-warning" [routerLink]="['/unidades/editar/', un.IdUnidadMedida]">Editar</a>
                          </td>
                          <td>
                              <a class="btn btn-danger" (click)="borrarUnidadMedida(un.IdUnidadMedida)">Borrar</a>
                          </td> -->
                      </tr>
                    </ng-container>
                    <ng-template #noDataMessage>
                      <tr>
                        <td colspan="4">{{messageError}}</td>
                      </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</main>
