
<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="form-container">
          <form (ngSubmit)="onSubmit()" #RegistroForm="ngForm">
            <div class="form-group">
              <label for="NombreUsuario">Nombre</label>
              <input type="text" class="form-control" required [(ngModel)]="UsuarioModel.NombreUsuario" name="NombreUsuario" id="NombreUsuario">
            </div>
            <div class="form-group">
              <label for="Apellido">Apellido</label>
              <input type="text" class="form-control" required [(ngModel)]="UsuarioModel.Apellido" name="Apellido" id="Apellido">
            </div>
            <div class="form-group">
              <label for="Correo">Correo</label>
              <input type="email" class="form-control" required [(ngModel)]="UsuarioModel.Correo" name="Correo" id="Correo">
            </div>
            <div class="form-group">
              <label for="Clave">Clave</label>
              <input type="password" class="form-control" required [(ngModel)]="UsuarioModel.Clave" name="Clave" id="Clave">
            </div>
            <div class="form-group">
              <label for="PalabraClave">Palabra clave</label>
              <input type="text" class="form-control" required [(ngModel)]="UsuarioModel.PalabraClave" name="PalabraClave" id="PalabraClave">
            </div>
            <div class="form-group">
              <label for="Rol_IdRol">Rol</label>
              <select class="form-control" [(ngModel)]="UsuarioModel.DescripcionRol" name="Rol_IdRol">
                <option value="1">Administrador</option>
                <option value="2">Empleado</option>
              </select>
            </div>
            <div class="form-group">
              <label for="Estado_idEstado">Estado</label>
              <select class="form-control" [(ngModel)]="UsuarioModel.DescripcionEstado" name="Estado_idEstado">
                <option value="1">Activo</option>
                <option value="2">Inactivo</option>
              </select>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary" [disabled]="!RegistroForm.form.valid">Enviar</button>
            </div>
          </form>
          <hr>
          <div class="text-center">
            <button class="btn btn-success" routerLink="/Usuarios">Regresar</button>
          </div>
        </div>
      </div>
    </div>
  </div>