<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form (ngSubmit)="onSubmit()" #RegistroForm="ngForm">
                <div class="form-group">
                    <label for="DescripcionRol">Descripción</label>
                    <input type="text" class="form-control" required [(ngModel)]="RolModel.DescripcionRol" name="DescripcionRol" id="DescripcionRol">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!RegistroForm.form.valid">Enviar</button>
                </div>
            </form>
            <button class="btn btn-success" routerLink="/Rol" >Regresar</button>
        </div>
    </div>
</div>
