<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" #RegistroForm="ngForm">
            <fieldset class="form-group">
                <div class="col-sm-12">
                    <label class="control-label">ID</label>
                    <input type="text" class="form-control" required [(ngModel)]="RolModel.IdRol"
                        name="Id Rol">
                </div>
                <div class="col-sm-12">
                    <label class="control-label">Descripcion</label>
                    <input type="text" class="form-control" required [(ngModel)]="RolModel.DescripcionRol"
                        name="Descripcion">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" [disabled]="!RegistroForm.form.valid">Enviar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>