<header class="container">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">

            <a style="color: black;" class="navbar-brand" routerLink="">Menu SIMP</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse nav navbar-nav navbar-center" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-link active" aria-current="Inventario" routerLink="Inventario">
                        <img src="./assets/Imagenes/aplicaciones.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Inventario">
                        Inventario
                    </a>
                    <a class="nav-link" routerLink="Entradas">
                        <img src="./assets/Imagenes/lado-del-camion.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Index">
                        Entradas
                    </a>
                    <a class="nav-link" routerLink="Salidas">
                        <img src="./assets/Imagenes/carrito-de-compras.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Servicios"> Salidas
                    </a>
                    <a class="nav-link" routerLink="ProductoMateria">
                        <img src="./assets/Imagenes/etiquetas.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Contacto"> Producto Materia
                    </a>
                    <a class="nav-link" routerLink="Plantilla">
                        <img src="./assets/Imagenes/navegador.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Contacto"> Plantilla
                    </a>
                    <a class="nav-link" routerLink="Usuarios">
                        <img src="./assets/Imagenes/agregar-usuario.png" width="20" height="20"
                            class="d-inline-block align-middle" alt="Contacto"> Usuarios
                    </a>
                    
                </div>
            </div>
        </div>
    </nav>

</header>

<section id="Notificaciones" class="container mt-2 mb-2">
    <marquee behavior="scroll" direction="left"> <a href="#">Notificaciones</a></marquee>
</section>